<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s2">
          <ul>
            <% for(let i = 0; i < 40; i++) { %>
              <li>
                <% for(let word in topWords[i]) { %>
                    <%= word %>: <%= topWords[i][word] %>
                  <% } %>
              </li>
              <% } %>
          </ul>
        </div>
        <div class="col s2">
          <ul>
            <% for(let i = 40; i < 80; i++) { %>
              <li>
                <% for(let word in topWords[i]) { %>
                    <%= word %>: <%= topWords[i][word] %>
                  <% } %>
              </li>
              <% } %>
          </ul>
        </div>
          <div class="col s2">
            <ul>
              <% for(let i = 80; i < 120; i++) { %>
                <li>
                  <% for(let word in topWords[i]) { %>
                      <%= word %>: <%= topWords[i][word] %>
                    <% } %>
                </li>
                <% } %>
            </ul>
          </div>
          <div class="col s2">
            <ul>
              <% for(let i = 120; i < 160; i++) { %>
                <li>
                  <% for(let word in topWords[i]) { %>
                      <%= word %>: <%= topWords[i][word] %>
                    <% } %>
                </li>
                <% } %>
            </ul>
          </div>
          <div class="col s2">
            <ul>
              <% for(let i = 160; i < 200; i++) { %>
                <li>
                  <% for(let word in topWords[i]) { %>
                      <%= word %>: <%= topWords[i][word] %>
                    <% } %>
                </li>
                <% } %>
            </ul>
          </div>
          <div class="col s2">
            <ul>
              <% for(let i = 200; i < 240; i++) { %>
                <li>
                  <% for(let word in topWords[i]) { %>
                      <%= word %>: <%= topWords[i][word] %>
                    <% } %>
                </li>
                <% } %>
            </ul>
          </div>
      </div>
    </div>


  </body>
</html>
